@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 255, 213;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
}

.header-content {
  position: relative;
  height: 0px; /* Adjust as necessary */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Adjust the color if needed */
  padding: 0 20px; /* Adjust the padding if needed */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #78aab8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  /* background: #4d7fff; */
  background: linear-gradient(45deg, rgb(3, 54, 78), #0383d3);
  border-radius: 10px;
  text-shadow: 2px 2px 5px #00ffb3;
  transition: background 0.9s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  /* background: #00ffff; */
  /* background: linear-gradient(45deg, #021e85, #00caca); */
  background: linear-gradient(45deg, rgb(1, 141, 206), #0268a8);


}