@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 255, 213;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    margin: 0;
    padding: 0;
}

.header-content {
  position: relative;
  height: 0px; /* Adjust as necessary */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007bff; /* Adjust the color if needed */
  padding: 0 20px; /* Adjust the padding if needed */
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
